@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #D0C939;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold 700;
}

a {
    color: #EB4E30;
    font-size: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: #1f9bd4;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./robot.gif');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 900px 950px;
}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    background: #EB4E30;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    filter: brightness(95%);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    padding: 10px;;
    color: #EB4E30;
    font-family: inherit;
    font-size: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .container {
        background-position: center center;
        background-size: cover;
    }
}

button {
    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, 0.3);
}
